* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-primary {
    background-color: #003457!important;
}

/*Styles template*/
.bg {
    width: 100%;
    height: auto;
    min-height: 84.1vh;
    background-image: linear-gradient(to right, #003457, #1397CC, #BE7904, #E0B100);
    background-size: 100% 100%;
    background-position: top center
}

.content {
    margin-top: 20%
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#address .centered {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.InputStyle {
    border-radius: 25px;
    border: solid 1px white;
    background: transparent;
    width: 300px;
    padding: 10px 20px;
}

.form-group .InputStyle{
    margin-left: 35px;
}

input,
input::-webkit-input-placeholder {
    font-size: 12px;
    color: white
}

.social-btn {
    position: relative;
    bottom: 20px;
    left: 47%
}

i {
    padding: 5px;
    color: white
}

input,
input:focus {
    border: solid 1px white;
    outline: 0;
    -webkit-appearance: none;
    box-shadow: nones;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}

.secondLine {
    font-weight: 350;
    font-size: 15px;
    margin-bottom: 8%;
    color: white
}

.firstLine {
    font-size: 30px;
    color: white
}

.form {
    /* display: none; */
    position: relative;
    top: 280px; 
}

#address .form {
    top: 410px;
}

i.fa-copy {
    cursor: pointer;
    font-size: 22px;
}

.copied{
    display: none;
    position: fixed;
    right: 28px;
    top: 70px;
    width: 25%;    
    z-index: 99999;
    padding: 10px 2%; 
    text-align: center;  
    color: #003457;
    font-weight: bold;
    font-size: 14px;
    background: #1399ce4d;
}

.box-alert i.fa-check {
    color: #003457;
}

footer {
    background-color: #003457;
    padding: 1px;
}

footer p {
    color: white;
    margin-top: 15px;
}

@media only screen and (max-width: 600px) {
    .firstLine {
        font-size: 20px
    }
}

.form {
    
}